

<h1>Instructions</h1>

<div class="instructions">

    <p>
        All mushroom species you will encounter fall into two types.
        <strong>Some species are usually healthy</strong> -- 2/3 of individual
        mushrooms from these species are healthy, and only 1/3 are poisonous.
        <strong>Some species are usually poisonous</strong> -- only 1/3 of
        individual mushrooms from these species are healthy, while 2/3 are
        poisonous. <strong>These two types of species occur equally
        often</strong>, though some environments may have more mostly-healthy
        species than others. There is no way to tell what type a species is by
        its appearance.
    </p>
	  <center>
	      <img src="static/images/good-bad-examples.png" align="center" width="600" style="border: 0px;">
	  </center>
    <p>
        <strong>Note:</strong> this does <strong>not</strong> mean that for each mushroom patch
        you encounter, exactly 2/3 will be healthy or exactly 2/3 will be
        poisonous. Rather, it means that over the long run, mushrooms from any
        one species are on average about 2/3 healthy or about 2/3 poisonous.
    </p>
    <p>
        <strong>And remember:</strong> your goal isn't to figure out perfectly whether each
        species is the "usually healthy" type or the "usually poisonous" type,
        but to maximize your bonus!
    </p>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-warning btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-warning btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
