
<h1>Instructions</h1>

<div class="instructions">

    <p>
        Finally, you won't know exactly how many mushrooms you'll encounter in
        total in each environment. After each mushroom, a spinner on the right
        side of the screen will spin:
    </p>
	  <center>
	      <img src="static/images/spinner-image.png" align="center" style="border: 0px;">
	  </center>
    <p>
        If the black arrow lands on the gray area, you'll encounter another
        mushroom. When it lands on the yellow wedge, you'll leave the
        environment and continue on to the next environment.

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-warning btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-warning btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
