<h1>Instructions</h1>

<div class="instructions">

    <p>
        In this experiment, you will play a simple video game about mushrooms.
    </p>

    <center>
        <img src="static/images/mushroom-species.png" align="center" width="800" style="border: 0px;">
    </center>

    <p>
        You play the role of a mushroom forager exploring the forest and
        encountering unknown species of mushrooms. As you hike, your goal is to
        <strong> eat as many healthy mushrooms as possible </strong> while
        <strong> avoiding poisonous mushrooms </strong>.
    </p>

    <center>
        <img src="static/images/environments.png" align="center" width="800" style="border: 0px;">
    </center>
    <p>
        You will explore <strong>four different environments</strong>, each with
        their own species of mushrooms. Each environment is home to four
        mushrooms species, found nowhere else in the world. Your hike through each
        environment will be split into two stages.

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-warning btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>

