
<h1>Instructions</h1>

<div class="instructions">

	<p>
      In the second phase of your hike through the environment, you will
      encounter mushrooms from the four species one at a time, with the same
      frequencies observed in the first phase. The four species icons will be
      arranged on the left side of the screen, along with the observations made
      earlier to remind you how common it is:
  </p>
	<center>
	    <img src="static/images/freq-symbols.png" align="center" width="600" style="border: 0px;">
	</center>
  <p>
      In the second phase, instead of simply observing the mushrooms you encounter, you'll have
      to decide whether or not to eat each one, by pressing one of the two buttons at the bottom of the screen:
  </p>
	<center>
	    <img src="static/images/eat-or-avoidfullinfo.png" align="center" width="400" style="border: 0px;">
	</center>




  <div class="instructionsnav">
      <div class="row">
          <div class="col-xs-2">
              <button type="button" id="next" value="next" class="btn btn-warning btn-lg previous">
                  <span class="glyphicon glyphicon-arrow-left"></span> Previous
              </button>
          </div>
          <div class="col-xs-8">
          </div>
          <div class="col-xs-2">
              <button type="button" id="next" value="next" class="btn btn-warning btn-lg continue">
                  Next <span class="glyphicon glyphicon-arrow-right"></span>
              </button>
          </div>
      </div>
  </div>

</div>



