
<h1>Instructions</h1>

<div class="instructions">
    <p>
        In the first part of your hike through each environment, you will simply
        record the different mushrooms you observe and learn about how frequently
        the different species occur.
    </p>

    <center>
        <img src="static/images/mushroom-species-freq.png" align="center" width="700" style="border: 0px;">
    </center>

    <p>
        Each mushroom you encounter will be recorded as a <strong>small, white
        circle</strong> above the correct species icon. Each circle means that you
        found one mushroom of that species. The more circles that appear above a
        mushroom, the more common it is as a species. At the end of the first
        part of the environment you will submit a short field-report on your
        findings about mushroom frequency.
    </p>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-warning btn-lg previous">
                    <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-warning btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>








