<h1>Instructions</h1>

<div class="instructions">

    <p>
        In this experiment, you will play a simple video game about mushrooms.
    </p>

    <center>
        <img src="static/images/mushroom-species.png" align="center" width="800" style="border: 0px;">
    </center>

    <p>
        You play the role of a mushroom forager exploring the forest and
        encountering unknown species of mushrooms. As you hike, your goal is to
        <strong>eat as many healthy mushrooms as possible</strong> while
        <strong>avoiding poisonous mushrooms</strong>.
    </p>
    <p>
        You will encounter patches of mushrooms one at a time. Each patch
        contains a single mushroom species, <strong>which is found only in that
        patch</strong>.
    </p>
    <center>
        <img src="static/images/single-mushroom-frequency.png" align="center" width="500" style="border: 0px;">
    </center>
    <p>
        Some patches are big and have a lot of mushrooms, while some are small
        and have few mushrooms. The mushrooms in a patch are shown as a group of
        circular outlines.
    </p>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-warning btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
