
<h1>Instructions</h1>

<div class="instructions">

    <p>
        Within each patch, you will choose whether to eat the mushrooms one at a
        time. Click <strong> "eat" </strong> to eat a mushroom, or click
        <strong> "don't eat" </strong> to not eat it.
    </p>

	<center>
	    <img src="static/images/eat-or-avoidfullinfo.png" align="center" width="400" style="border: 0px;">
	</center>

	<p>
      As you choose whether or not to eat mushrooms, they will be sorted into groups and change
      color to record your progress. In addition, your bonus for the experiment
      will go up or down based on your actions.
  </p>
  <p>
      If you eat a healthy mushroom, the circle will become a <span
      style="color:lime">green</span>, upward triangle and you will <strong> gain $0.02
      </strong>. If you eat a poisonous mushroom the circle will become a <span
      style="color:red">red</span>, downward triangle and you will <strong> lose $0.02</strong>.
      If you don't eat a mushroom, you will instead put it in your mushroom-testing
      kit, which will tell you whether it <strong>would have been</strong>
      healthy or poisonous. Tested healthy mushrooms will turn <span style="color:rgb(88,178,88)">
          grayish green</span>, while tested poisonous mushrooms will turn
      <span style="color:rgb(178,88,88)"> grayish red</span>. You will not gain
      or lose money when you test a mushroom.
  </p>
	<center>
	    <img src="static/images/single-mushroom-evidence-fullinfo.png" align="center" style="border: 0px;">
	</center>
  <p>
      Your bonus <strong>starts at $0.25</strong>, and will be displayed on
      screen throughout the experiment.
  </p>

  <div class="instructionsnav">
      <div class="row">
          <div class="col-xs-2">
              <button type="button" id="next" value="next" class="btn btn-warning btn-lg previous">
                  <span class="glyphicon glyphicon-arrow-left"></span> Previous
              </button>
          </div>
          <div class="col-xs-8">
          </div>
          <div class="col-xs-2">
              <button type="button" id="next" value="next" class="btn btn-warning btn-lg continue">
                  Next <span class="glyphicon glyphicon-arrow-right"></span>
              </button>
          </div>
      </div>
  </div>


</div>
