<div class="instructions">
<h1>Instructions - Payment and Bonus</h1>



  <p>
    When you eat a mushroom that is healthy, you will earn <strong>two cents ($0.02)</strong>. When you eat a mushroom that is poisonous, you will <strong>lose two cents (-$0.02)</strong>. If you decide to avoid a mushroom, you won't increase or decrease your winnings.
  </p>

  <p>
    To maximize your winnings, you should try to eat as many healthy mushrooms as you can, while trying to avoid poisonous mushrooms. You will begin the game with twenty-five cents ($0.25).
  </p>

  <center>
    <img src="static/images/starting-winnings.png" align="center" width="300" style="border: 0px;">
  </center>

  <p>
    At the end of the experiment, <strong> your bonus will equal your total winnings</strong>.
  </p>

  <p>
    <strong>Important</strong>: Eating a mushroom that is healthy increases your winnings. Eating a poisonous mushroom decreases your winnings. Your winnings at the end of the game are used to calculate your bonus.
  </p>


  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
        <button type="button" id="next" value="next" class="btn btn-warning btn-lg previous">
          <span class="glyphicon glyphicon-arrow-left"></span> Previous
        </button>
      </div>
      <div class="col-xs-8">
      </div>
      <div class="col-xs-2">
        <button type="button" id="next" value="next" class="btn btn-warning btn-lg continue">
          Next <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>


</div>
