
<h1>Instructions</h1>

<div class="instructions">

  <p>
    Species vary in how often they are poisonous, from almost always healthy to almost always poisonous and everywhere in between.

    <p>
        Within each patch, you will choose whether to eat the mushrooms one at a time. Click <strong>"eat"</strong> to eat a mushroom and discover whether it is healthy or poisonous, or click <strong>"avoid"</strong> to avoid it.
    </p>

	<center>
	    <img src="static/images/eat-or-avoid.png" align="center" width="600" style="border: 0px;">
	</center>

	<p>
        Note that you can only learn whether a mushroom is healthy or poisonous by eating it. If you choose to avoid a mushroom, you won't find out whether it was healthy.
	</p>

	<p>
		<strong>Important</strong>: Most mushroom species are sometimes healthy and sometimes poisonous. You can only learn about a mushroom by eating it.
	</p>
</div>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-warning btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-warning btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
