
<h1>Instructions</h1>

<div class="instructions">

	<p>
	To help you in the task, the mushrooms in a patch will be
	sorted into groups as you eat or avoid them.  Whenever you eat
	or avoid a mushroom, one of the circular outlines will be
	filled in and the mushroom will be sorted into a group.
	</p>

	<p>
		If you eat a healthy mushroom, the circle will become <span style="color: lime">green</span>, and if you eat a poisonous mushroom the
		circle will become <span style="color: red">red</span>.  If you avoid a mushroom, the circle will become <span style="color:
		gray">gray</span>, indicating that you do not know whether the mushroom was healthy or poisonous.
	</p>
	<center>
	    <img src="static/images/single-mushroom-evidence.png" align="center" width="450" style="border: 0px;">
	</center>

	<p>
		<strong>Important</strong>: A record of your past decisions to eat or avoid mushrooms is displayed in the mushroom groupings on screen (<span style="color: red">red</span>=poison, <span style="color: lime">green</span>=healthy, and <span style="color: gray">gray</span>=avoided).
	</p>


</div>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-warning btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-warning btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
