
<h1>Instructions</h1>

<div class="instructions">
<p>
    As you hike, you will encounter patches of mushrooms one at a time. Each patch contains a single
    mushroom species, which is found only in that patch.
</p>
<p>
    Some patches are big and have a lot of mushrooms, while some are
    small and have few mushrooms. The mushrooms in a patch are shown
    as a group of circular outlines to the right of the mushroom
    species icon.
</p>

    <center>
        <img src="static/images/single-mushroom-frequency.png" align="center" width="500" style="border: 0px;">
    </center>

<p>
  <strong>Important</strong>: Each species occurs in a single patch. Some species patches have more mushrooms than others.
	</p>



    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-warning btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-warning btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
