<h1>Instructions</h1>

<div class="instructions">

    <p>
        In this experiment, you will play a simple video game about mushrooms.
    </p>

    <center>
        <img src="static/images/mushroom-species.png" align="center" width="800" style="border: 0px;">
    </center>
    
    <p>
        As part of the game, you will play the role of field biologist who studies mushrooms. Your task
        is to explore the local region and <strong>assess how abundant different</strong> species are.
    </p>

    <input type="button" class="continue" id="Next" value="Next">

</div>

