
<h1>Instructions</h1>

<div class="instructions">

    <p>You will explore ecosystems from around the world which each have their own
        <strong>types</strong> and <strong>frequencies</strong> of mushrooms.</p>

    <center>
        <img src="static/images/mushroom-foraging.jpg" align="center" height="200">
        <img src="static/images/mushrooms.jpg" align="center" height="200">
    </center>


	<p>Your task within each ecosystem will have <strong>two phases</strong>.</p>

	<p>In the first phase, you will hike out into the field and record the frequency of different mushroom types.</p>



<input type="button" class="continue" id="Next" value="Next">

</div>








