<h1>Instructions</h1>
<p>You will now begin the main part of the experiment, where you will eat and avoid mushrooms from the species you observed on your expedition.
<p>Your observations from the first part of the experiment will remain above the species icons as gray circles. Since you're still in the same area, <strong>how common the two species are will stay about the same</strong>.
<p>Your goal is to <strong>reach the highest energy you can</strong> by the end of the experiment.
<div class="prompt">When you're ready to begin, press <strong>Next</strong>.</div>

<input type="button" class="continue" id="Next" value="Next">
