
<h1>Instructions</h1>

<div class="instructions">

	<p>
		All species you encounter are <strong>sometimes healthy</strong> and <strong>sometimes poisonous</strong>. However, you do not know how often mushrooms in each species are healthy or poisonous.
	</p>
	<p>
        In addition, while the different ecosystems you explore vary in the types and frequency of mushrooms that grow there, poisonous mushrooms occur with the same overall frequency in all ecosystems. There are <strong>not</strong> some ecosystems where almost all the mushrooms are healthy and others where almost all are poisonous.
	</p>
	<center>
	    <img src="static/images/environments.png" align="center" width="700" style="border: 0px;">
	</center>

    <p>
    	It is impossible for anyone but a trained expert to tell which species are usually healthy or usually poisonous just from appearance. Thus, even if two species <strong>appear similar</strong>, one may usually be healthy and the other may usually be poisonous. Also, how likely a certain species is to be poisonous <strong>will not change</strong> over the course of your hike.
    </p>

	<p>
		<strong>Important</strong>: The only way to learn about whether a particular species is healthy or poisonous is to eat mushrooms of that species. The odds of a mushroom from a certain species being poisonous will not change over time.  Different ecosystems
		vary in the type and frequency of mushrooms, but not in terms of the overall rate of poisonous items.
	</p>

</div>

<input type="button" class="continue" id="Next" value="Next">

</div>


