
<h1>Instructions - Payment and Bonus</h1>

<div class="instructions">

	<p>
		When you eat a mushroom that is healthy, you will earn <strong>five cents ($0.05)</strong>. When you eat a mushroom that is poisonous, you will <strong>lose five cents (-$0.05)</strong>. If you decide to avoid a mushroom, you won't increase or decrease your winnings.
	</p>

	<p>
		To maximize your winnings, you should try to eat as many healthy mushrooms as you can, while trying to avoid poisonous mushrooms. You will begin the hike back with 50 cents ($0.50).
	</p>

	<center>
	    <img src="static/images/starting-winnings.png" align="center" width="300" style="border: 0px;">
	</center>

	<p>
		At the end of the experiment, one of the ecosystems you explore will be chosen at random. <strong>Your bonus will equal your winnings in that ecosystem</strong>.
	</p>

	<p>
		<strong>Important</strong>: Eating a mushroom that is healthy increases your winnings. Eating a poisonous mushroom decreases your winnings. Your net winnings are used to calculate your bonus.
	</p>

</div>

<input type="button" class="continue" id="Next" value="Next">

</div>


