
<h1>Instructions</h1>

<div class="instructions">

	<p>
		To help you in the task, your log book will record your experiences with each mushroom you eat.  Whenever you eat or avoid a mushroom, a circle will be added to log above the species.
	</p>

	<p>
		If you eat a healthy mushroom a <span style="color: lime">green</span> circle will appear, and if you eat a poisonous mushroom a <span style="color: red">red</span> circle will appear. The observation circles are sorted by type, with gray circles first, then red, then green.
	</p>
	<p>
		If you avoid eating a mushroom, a <span style="color: gray">gray</span> circle like the ones you will observe in the first phase will appear.
	</p>

	<center>
	    <img src="static/images/mushroom-evidence.png" align="center" width="573" style="border: 0px;">
	</center>

	<p>
		<strong>Important</strong>: A record of your past decisions to eat or not eat mushrooms is recorded in your log (<span style="color: red">red</span>=poison,<span style="color: lime">green</span>=healthy, and <span style="color: gray">gray</span>=avoided).
	</p>


</div>

<input type="button" class="continue" id="Next" value="Next">

</div>


