
<h1>Instructions</h1>

<div class="instructions">

	<p>
		In the second phase, you have to hike back to your research center.  Along the way your goal is to learn
		which of the area's mushroom species are healthy and which are poisonous - <strong>by eating them</strong>! 
	</p>

    <p>
        When you see a mushroom on your hike home, its species will be highlighted on the display. Click <strong>"eat"</strong> to eat the mushroom and discover whether it is healthy or poisonous, or click <strong>"avoid"</strong> to avoid it. 
    </p>

	<!--    
    <p>
    	From your research, you know that all species are <strong>sometimes healthy</strong> and <strong>sometimes poisonous</strong>. However, you do not know how often mushrooms in each species are healthy or poisonous. You will need to learn which species are usually healthy from experience, while also trying to avoid species which are usually poisonous.
    </p>
	-->


	<center>
	    <img src="static/images/eat-or-avoid.png" align="center" width="600" style="border: 0px;">
	</center>

	<p>
        Note that you can only learn whether a mushroom is healthy or poisonous by eating it. If you choose to avoid a mushroom, you won't find out whether it was healthy.
	</p>

	<p>
		<strong>Important</strong>: Each mushroom species is sometimes healthy and sometimes poisonous. You can only learn more about a mushroom by eating it.
	</p>
</div>

<input type="button" class="continue" id="Next" value="Next">

</div>



