
<h1>Instructions</h1>

<div class="instructions">

	<p>In the second phase, you have to hike back to your research center.  However, you have run out of food and so will
		need to eat some of the mushrooms you come across.</p>

	<p>
		From your research, you know that all species are sometimes <strong>healthy</strong> and sometimes <strong>poisonous</strong>.
		However, you do not know how often mushrooms in each species are healthy or poisonous.  Thus, you will want to
		try to learn as you go in order to keep your energy levels high.
	</p>

	<center>
	    <img src="static/images/mushroom-healthy-poison.png" align="center" width="380" style="border: 0px;">
	</center>


	<p><strong>Important</strong>: Mushrooms are sometimes healthy and sometimes poisonous.  You have to learn which to eat
		so that you can get home safely.</p>

</div>

<input type="button" class="continue" id="Next" value="Next">

</div>








