
<h1>Instructions</h1>

<div class="instructions">

	<p>
		In the second phase, when you see a mushroom press "eat" to eat the mushroom or "don't eat" to avoid
		the mushroom.
	</p>

	<center>
	    <!--<img src="static/images/mushroom-healthy-poison.png" align="center" width="380" style="border: 0px;">-->
	</center>

	<p>
		In the upper left corner of the screen you will see your current energy level.  Your energy goes
		up by five (5) points when you eat a healthy mushroom, and down by five (-5) when you eat an
		unhealthy mushroom.
	</p>

	<p>
		When you avoid a mushroom your energy level won't change, and you won't find out whether it
		was poisonous or not.
	</p>

	<p>
		<strong>Important</strong>: Eating a mushroom that ends up healthy increases you energy.  Eating
		a poisonous mushroom decreases your energy.  Avoiding has no effect on your energy.
	</p>

</div>

<input type="button" class="continue" id="Next" value="Next">

</div>


