
<h1>Instructions</h1>

<div class="instructions">

    <p>Each mushroom you encounter will be recorded as a <strong>small, grey circle</strong> above the correct species icon.  Each circle means that you found one mushroom of that type.  The more circles that appear above a mushroom, the more common it is as a species. At the end of the first phase you will submit a short field-report on your findings about mushroom frequency.
    </p>

    <center>
        <img src="static/images/mushroom-species-freq.png" align="center" width="600" style="border: 0px;">
    </center>

<p><strong>Important</strong>: The number of circles show how <strong>rare or common</strong> each species is in this area.</p>

<input type="button" class="continue" id="Next" value="Next">

</div>








